name: Unity Build (Windows)

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Unity Project
    runs-on: self-hosted
    

    steps:
    # -----------------------------
    # 1. Checkout source code
    # -----------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -----------------------------
    # 2. Unity License (Self-hosted không cần)
    # -----------------------------
    - name: Activate Unity license
      run: echo "Self-hosted Unity – no activation required"
      shell: cmd

    # -----------------------------
    # 3. Build Unity Windows
    # -----------------------------
    - name: Build Unity project (Windows)
      run: >
        "C:\Program Files\Unity\Hub\Editor\2022.3.62f2\Editor\Unity.exe"
        -quit -batchmode -nographics
        -projectPath "${{ github.workspace }}"
        -buildWindowsPlayer "C:\actions-build\Game\Game.exe"
      shell: cmd

    # -----------------------------
    # 4. Upload Artifact
    # -----------------------------
    - name: Upload Windows Build
      uses: actions/upload-artifact@v4
      with:
        name: Unity-Windows-Build
        path: C:\actions-build\Game
